.header {
  width: 100%;
    background-color:  rgba(217, 218, 223, 0.4);
    position:fixed;
}
.header_container{
    display: flex;
    align-items: center;
    margin: 17px 40px; 
    justify-content: center
}