.header {
    height: 100px;
    width: 1440px;
    background-color:  rgba(217, 218, 223, 0.26);
    position:fixed;
}
.header_container{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 17px;
}